body {
    background: #0e235c;
}

#fond {
    display: flex;
    flex-direction:column;
    height: 100%;
    border-radius: 8px;
    border-width: 2px;
}

#entete {
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 50;
    border-radius: 8px;
    border-width: 2px;
    order :1;
    padding: 20px;
    position: sticky;
    top: 0;
}

#pagePrincipale {
    flex-grow: 1;
    height: 20px;
    order: 1;
    text-align: left;
}

#titre {
    order: 2;
    text-align:left;
}

#logo {
    height: 300%;
}

#contenu {
    display: flex;
    flex-direction:row;
    order: 3;
}

#delutilisateur {
    display: flex;
    flex-direction:column;
}

#delthread {
    display: flex;
    flex-direction:column;
}